
<div id="file_manager">
  <%= render :partial => 'avatar_buttons' -%>
  <%= render :partial => 'file_list' -%>
</div>

<div id="editor_panel">
  <%= render :partial => 'editor' -%>  
</div>

<%= render :partial => 'hidden_text_areas' -%>


