<div class="editor_container">
  <textarea name="editor" 
            id="editor" 
            class="panel"
            <% if @kata.readonly -%>
              readonly="true"
            <% end -%>>
  </textarea>
</div>
<script type="text/javascript">
createTextAreaWithLines('editor');
respondToTabs('editor')
</script>
