<%= render :partial => 'javascript' -%>

<%= render :partial => "menu_bar" %>

<% form_remote_tag :url => { :action   => 'run_tests',
                             :dojo_id => @dojo.id,
                             :kata_id => @kata.id,
                             :avatar => @kata.avatar.name
                           }, 
                             :before   => "preRunTests();",
                             :complete => "postRunTests();" do -%> 
<%= render :partial => 'editor_panel' -%>
<% end -%>

<div id="results_panel">
  <%= render :partial => 'results_panel'-%>
</div>


